@font-face {
    font-family: 'Audrey';
    font-style: normal;
    font-weight: 700;
    src: local('Audrey'), url('https://fonts.cdnfonts.com/s/18906/Audrey-Bold.woff') format('woff');
}
html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
*::-webkit-scrollbar {
    width: 0;
}
section{
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid red; */
}
.loading_page{
    width: 100vw;
    height: 100vh;
    z-index: 5;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}
#loader-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s;
}
#page-content {
    opacity: 0;
    transition: opacity 3s;
}


/* Welcome_page */
#welcome_page{
    opacity: 0; 
    transition: opacity 3s;
}
.content{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
#background_video{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Head */
header {
    padding-block: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(20px);
    z-index: 20;
    background-color: #1B1B1B11;
    background-image: repeating-linear-gradient(
        to right, transparent, #eee1
    );
}
.content-fit {
    width: 100%;;
    display: flex;
    justify-content: center;
}

.nav{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: .3rem;
}

.nav a{
    margin: 0 1rem;
    text-decoration: none;
    color: #000;
}
.nav a:hover{
    cursor: pointer;
    color: steelblue;
    transition: all ease-in-out .7s;
}

/* Clouds */
.clouds{
    opacity: 0.95;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80%;
    pointer-events: none;
    overflow: hidden;
}
.clouds img{
    position: absolute;
    bottom: -10%;
    max-width: 100%;
    animation: animate calc(3s * var(--i)) linear infinite;
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); 
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

@keyframes animate {
    0%{
        opacity: 0.3;
        transform: scale(1);
    }
    25%, 75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: scale(3);
    }
}


/* Welcome_content */
.content_body{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.content_body .title{
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#text{
    position: relative;
}
.content_body .image_container{
    width: 60%;
    height: 90%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.content_body img{
    max-width: 100%;
    /* min-width: 100%; */
    max-height: 100%;
}
.content_body .title h1{
    font-family: 'Audrey', sans-serif;
    font-size: 7.7rem;
    color: #eef8ce;
}

.content_body h1 span{
    position: relative;
    display: inline-block;
    transform: translateY(500px);
}


/* About  */
#about{
    overflow: visible;
    height: auto;
    position: relative;
    justify-content: flex-start;
    height: 610vh;
    margin: 3rem 0;
}

#about .title{
    margin: 2rem 0;
    /* position: sticky;
    top: 0; */
}

#about .title h1{
    color: #535050;
    font-size: 3.2rem;
    text-align: center;
}

#about .description{
    width: 100%;
    position: absolute;
    top: 15rem;
    left: 0;
    /* height: 80vh; */
}

#about .block_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    transition: all .45s ease;
    top: 0;
}

#about .block_container.block2{
    top: 200px;
}

#about .description .image_block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    transition: all .2s ease;
}

#about .description .image_block img{
    max-width: 100%;
    max-height: 100%;

}

#about .description .description_block{
    width: 50%;
    display: flex;
    justify-content: center;
    /* align-items: center;     */
    flex-direction: column;
    transition: all .2s ease;
}

#about .description .description_block p{
    font-size: 2.5rem;
    transform: translateX(35%);
}


/* Lifestyle */

#lifestyle{
    overflow: auto;
    height: auto;
    margin: 4rem 0;
}
#lifestyle .content{
    /* position: relative; */
}
.section_title{
    width: 100%;
    padding: 5%;
}
.section_title h1{
    text-align: left;
    font-size: 4rem;
    color: #535050;
    font-weight: 700;
}
#lifestyle .description{
    width: 100%;
}
#lifestyle .description_blocks{
    width: 100%;
    display: flex;
    border-top: 1px solid #535050;
    border-bottom: 1px solid #535050;
}
#lifestyle .description_blocks .image_blocks{
    overflow: hidden;
    position: relative;
    width: 50%;
    height: 90vh;
}
#lifestyle .description_blocks .image_blocks img{
    width: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
}

#lifestyle .description_blocks .image_blocks img{
    transform: translateY(-1100px);
}
@media (min-width: 900px) {
    #lifestyle .description_blocks .image_blocks img {
        transform: translateY(-200px);
    }
}

#lifestyle .description_blocks .text_blocks{
    width: 50%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#lifestyle .description_blocks .text_blocks h2{
    width: 70%;
    margin-bottom: 1rem;
}
#lifestyle .description_blocks .text_blocks p{
    width: 70%;
}


/* Home */
#home{
    height: 130vh;
    margin: 4rem 0;
}
#home .background{
    background: url("assets/room1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}


/* inspiration */
#inspiration{
    height: auto;
}
.section_title{
}
#inspiration .content{
}
#inspiration .slider_wrapper{
    width: 100%;
}
#inspiration .content_list{
    display: flex;
    justify-content: space-evenly;
}
#inspiration .content_block{
    width: 300px;

}
#inspiration .content_block{
    border-radius: 10%;
    box-shadow: 10px 10px 15px 10px rgba(105, 92, 82, 0.5);
    width: 300px;
    margin: 4rem 0;
}

@media (min-width: 900px) {
    #inspiration .content_block{
        width: 22%;
        /* height: 80vh; */
    }
}
#inspiration .image_container{
    border-radius: 10%;
    width: 100%;
    height: 65%;
    overflow: hidden;
}
#inspiration .image_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#inspiration .text_container{
    width: 80%;
    margin: 1rem;
}
#inspiration .text_container h1{
    font-size: 2rem;
    font-weight: 300;
    color: #ae4017;
}
#inspiration .text_container p{
    font-size: 15px;
    margin: 1rem 0;
}
#inspiration .image_symbol{
    width: 1.8rem;
    height: 1.8rem;
    border: 1px solid #535050;
    border-radius: 50%;
}
#inspiration .image_symbol img{
    width: 100%;
}


/* Talk With Me  */
#talk_with_me{
    margin: 4rem 0 4rem 0;
    padding: 4rem 0 4rem 0;
    position: relative;
    height: auto;
    overflow: visible;
    color: #eef8ce;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
}
.stars_background{
    /* position: relative; */
    width: 100%;
    height: 100%;
}
.stars_background canvas{
    /* opacity: 0; */
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}
#talk_with_me .section_title{
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    width: 100vw;
    top: 10%;

}
#talk_with_me .section_title h1{
    transition: .9s;
    font-size: 7rem;
    letter-spacing: .35rem;
    font-weight: 900;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#talk_with_me .section_title .content{
    transform: scale(0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

#talk_with_me .menu{
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#talk_with_me .toggle{
    position: relative;
    width: 60px;
    height: 60px;
    color: #000;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1em;
    box-shadow: 0 0 0 0 #000000, 0 0 0 0 #0f0808;
    transition: 1.25s;
}
#talk_with_me .menu.active .toggle{
    transform: rotate(360deg);
    color: #fff;
    background: rgba(50, 50, 50, 0.3);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2), 0 0 0 2px #333, 0 0 0 8px #fff;
}
#talk_with_me .menu .toggle i{
    font-size: 1.6rem;
}
#talk_with_me .menu.active .toggle i{
    font-size: 1rem;
}
#talk_with_me .menu li{
    position: absolute;
    left: 0;
    list-style: none;
    transition: calc(0.5s + 0.2s * var(--i));
    transform: rotate(calc(360deg/8 * var(--i) + 110deg));
    transform-origin: 250px;
    scale: 0;
}
#talk_with_me .menu.active li{
    scale: 1;
    
}
#talk_with_me .menu li.playing{
    scale: 0.9;
}
#talk_with_me h1.display{
    scale: 0;
}
#talk_with_me .content.display_content{
    transform: scale(1);
}
#talk_with_me .content .contentBx{
    position: absolute;
    transform: scale(0);
    transition: 0.5s;
    opacity: 0;
}
#talk_with_me .content .contentBx.active{
    transform: scale(1);
    opacity: 1;
    transition-delay: 0.5s;
}
#talk_with_me .play_content{
    transition: 0.9s;
    position: relative;
    overflow: hidden;
}
#talk_with_me .play_content.display_playing{
    background: gray;
    border-radius: 12%;
}
#talk_with_me .play_content.display_playing .content{
    transform: scale(1);
}
#talk_with_me .menu li .audio_element{
    border: 2px solid var(--clr);
    border-radius: 50%;
    overflow: hidden;
    width: 120px;
    height: 120px;
    position: relative;
    display: flex;
    transform: rotate(calc(360deg/-8 * var(--i) - 110deg));
}
#talk_with_me .menu li .audio_element img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: .9s;
    object-fit: cover;
}
#talk_with_me .menu li .audio_element i{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    transition: .9s;
    cursor: pointer;
}
#talk_with_me .menu li .audio_element:hover img{
    cursor: pointer;
    transform: scale(1.1);
    filter: sepia(50%);
    transition:  .9s;
}
#talk_with_me .menu li .audio_element:hover i{
    color: #ae4017;
}

#talk_with_me .container3D{
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; */
    position: absolute;
    z-index: 25;
}



/* Business */
#business{
    height: auto;
}
#business .section_title{
    /* border: 2px solid purple; */
}
#business .content{
    /* border: 2px solid purple; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
#business .containers{
    /* border: 2px solid purple; */
   
}
#business .image_block{
    /* border: 2px solid purple; */
    width: 300px;
}
#business .image_block img{
    width: 100%;
}
#business .description{
    /* border: 2px solid purple; */
}
.contact{
    margin-top: 4rem;
    width: 750px;
    height: 360px;
    border-radius: 23px;
    box-shadow: 10px 10px 15px 10px rgba(105, 92, 82, 0.5);
}
.contact .header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 85%;
}
.contact .header h1{
    font-size: 5rem;
    color: rgb(105, 92, 82);
    opacity: .5;
    font-weight: 700;
}
.contact .social_links{
    display: flex;
    justify-content: space-evenly;
    color: #ae4017;
}
.contact .social_links .links{
    border: 1px solid #ae4017;
    padding: .3rem;
}
.signature{
    margin-top: 4rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 360px;
}
.signature img{
    width: 100%;
}